extends template 


block vars 
    - var title="Login User page"


block body 
    h2 Login here 
    if error 
        p Error: #{error}
    form(method="post")
        div(class="mb-3")
            label(for="email", class="form-label") Email 
            input(id="email",type="email", class="form-control",name="email")
        div(class="mb-3")
            label(for="password", class="form-label") Password 
            input(id="password",type="password", class="form-control",name="password")
        div(class="mb-3")
            button(type="submit" class="btn btn-primary") SignIn